.menu {
	display: block;
	padding: 0 0 25px 0;
}

.menu > div {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #9e9e9e;
}

.menu h5 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 18px;
}

.menu a {
	margin-right: 10px;
}